<div class="container mainDiv p-4">
    <div class="jumbotron jumbotron-fluid doctordet">
        <div class="container">
            <h1>Book your slot here</h1>

        </div>
    </div>
    <form [formGroup]="bookform" (ngSubmit)="onSubmit()">
        <div class=" form-row">
            <div class="form-group col-md-6">
                <label for="inputTo">Mobile Number</label>
                <input class="form-control" formControlName="mobile" required>

            </div>

            <div class="form-group col-md-6">
                <label for="inputFrom">username</label>
                <input type="text" class="form-control" formControlName="username" required>
            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="inputTo">email</label>
                <input type="email" class="form-control" formControlName="email" required>
            </div>
        </div>


        <div class="form-row">

            <div class="form-group col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>slotdate</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bookslot of booking" >
                            <td (click)="setSlot(history.slotdate)">{{history.slotdate}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button class="btn btn-outline-primary btn-block text-uppercase">Book slot</button>

    </form>
    <br>
    <div class="row">
        <div class="col-md-12">



        </div>
    </div>

</div>