<h4>Login</h4>
<form [formGroup]="loginForm" (ngSubmit)="login();">
  <div class="form-group">
    <label>Mobilenumber:</label>
      <input class="form-control" formControlName="mobile" required>
      <div *ngIf="loginControl.mobile.invalid && (loginControl.mobile.dirty || loginControl.mobile.touched)" class="alert alert-danger">
        <div *ngIf="loginControl.mobile.errors.required">
            mobile number is required.
        </div>
        <div *ngIf="loginControl.mobile.errors.minlength">
            mobile number must be 10 characters long.
        </div>
    </div>

    <label>Last Name:</label>
        <input class="form-control" formControlName="password">
        <div *ngIf="loginControl.password.invalid && (loginControl.password.dirty || loginControl.password.touched)" class="alert alert-danger">
            <div *ngIf="loginControl.password.errors.required">
                Password is required.
            </div>
            <div *ngIf="loginControl.password.errors.minlength">
                Password must be at least 8 characters long.
            </div>
        </div>
    <button type="submit"  [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
  </div>
</form>
