  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <div class="addSlot">
                <input class="input-form" placeholder="timeslot">
                <input class="input-form" type="date">
                <a (click)="addSlots()" class="btn btn-primary">Add slots</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-text">10:00 am - 10:15 am</p>
          <p class="card-text">Booked by</p>
          <p class="card-text">Contact number</p>
        </div>
      </div>
    </div>
  </div>
  <br>
